<div class="form-group">
    <div class="checkbox" style="padding: 10px">
        <label>
            <input id="ph" type="radio" name="statisticChart"/> PH</label>
    </div>
    <div class="radio" style="padding: 10px">
        <label>
            <input id="codmn" type="radio" name="statisticChart"/>CODMN</label>
    </div>
    <div class="radio" style="padding: 10px">
        <label>
            <input id="tn" type="radio" name="statisticChart"/>TN</label>
    </div>
    <div class="radio" style="padding: 10px">
        <label>
            <input id="tp" type="radio" name="statisticChart"/>TP</label>
    </div>
    <div class="radio" style="padding: 10px">
        <label>
            <input id="temp" type="radio" name="statisticChart"/>Tempature</label>
    </div>
</div>